@import "tailwindcss";
@import "@heroui/styles";

/* Tell Tailwind that dark mode is controlled by .dark */
@custom-variant dark (&:where(.dark, .dark *));
 
@theme {
  --color-forest-dark: #344e41;
  --color-forest: #3a5a40;
  --color-sage-light: #a3b18a;
  --color-sage: #588157;
  --color-cream: #e7e9df;
  --color-dark-surface: #171a18;
}

/* Light theme */
html.light,
html.light body {
  background-color: #e7e9df;
  color: black;
}

/* Dark theme */
html.dark,
html.dark body {
  background-color: #171a18;
  color: #f3f4f2;
}

